*{
    margin: 0;
    padding: 0;
}
/*
body {
    background-color: aliceblue;
    font-family: 'Markazi Text', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;

}


h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
*/
header > img {
    width: fit-content;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    float: center;


}
section {
    display: flex;
}
article{
    flex: 1;
}

.container {
    background-color: rgba(35, 129, 117, 0.76);
    display: flex;
    flex-flow: row wrap;
    text-align: justify;
}
.container li{
    list-style-type: none;
}
.container a{
    display: inline-block;
    padding: 25px;
    margin: 0 25px;
    text-align: center;
    text-decoration: steelblue ;
    color: rgb(54, 3, 54);
}
.searchBox {
    margin-top: 5%;
    padding-top: 10%;
    background-position: 10px;
}
form {
    color:rgb(54, 3, 54);
    display: flex;
    padding: 15px;
}
form :hover {
    border-color: purple;
}
.container a:hover {
    background-color: aliceblue;
}