*{
    margin: 0;
    padding: 0;
}
/*
body {
    background-color: aliceblue;
    font-family: 'Markazi Text', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;

}


h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
*/
header > img {
    width: fit-content;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    float: center;


}
/*

nav ul {
    list-style: none;
    text-align: center;
}

nav li{
    display: inline-block;
    size: 50rem;
}

*/
section {
    display: flex;
}
article{
    flex: 1;
}

.container {
    background-color: rgba(35, 129, 117, 0.76);
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
}
.container li{
    list-style-type: none;
}
.container a{
    display: inline-block;
    padding: 25px;
    margin: 0 25px;
    text-align: center;
    text-decoration: steelblue ;
    color: rgb(54, 3, 54);
}
.container a:hover {
    background-color: aliceblue;
}