
*{
    background-color: rgb(219, 217, 180) ;
}

.whoAreWe{
    width: fit-content;
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    float: center;
}
p{
    color: #04290a;
    inline-size: none;
    text-align: justify;
    margin: 5rem;
    
}
h4{
    color: #04290a;
    inline-size: auto;
    text-align: center;
}